@import '../variables';

.header {
    border-bottom: 1px solid $gray-line;
    padding: 40px 0;

    @media screen and (max-width: 580px) {
        padding: 40px 0 30px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 580px) {
            flex-direction: column;
        }
    }

    &__cart {
        @media screen and (max-width: 580px) {
            margin-top: 15px;
        }
    }

    &__logo {
        display: flex;

        img {
            margin-right: 15px;
        }

        h1 {
            color: #181818;
            font-size: 24px;
            letter-spacing: 1%;
            text-transform: uppercase;
            font-weight: 800;
        }

        p {
            color: #7b7b7b;
        }
    }
}
